<div style="text-align: center">
    <h4>
    
        {{str}}<br> 
        {{str | uppercase}}<br>
        {{str | lowercase}}<br>
        {{str | titlecase}}<br>
        <br>
        {{amount}}<br>
        {{amount|currency }}<br>
        {{amount|currency :'INR'}}<br>
        {{amount|currency :'JPY'}}<br>
        {{amount|currency :'EUR'}}<br>
        {{amount|currency :'USD'}}<br>
        {{amount|currency :'AOA'}}<br>
        <br>
        {{mydate}}<br>
        {{mydate | date}}<br>
        {{mydate | date :'YYYY-MM-dd'}}<br>
        {{mydate | date :'dd-MM-yyyy'}}<br>
        {{mydate | date :'dd-MM-yy'}}<br>
        <br>
        {{obj}}<br>
        {{obj| json }} <br>
        
        </h4>
       
</div>