<hr>

<div [ngClass]="{'mybackgroung':true,'bdr':true,'divsize':true}">
    <h1>Hi Div 1 </h1>
</div>


<div [ngClass]="{'mybackgroung':true,'bdr':false,'divsize':true}">
    <h1>Hi Div 2  </h1>
</div>


<div [ngClass]="{'mybackgroung':false,'bdr':true,'divsize':true}">
    <h1>Hi Div 3  </h1>
</div>

<hr>















<!-- 
<div class="div1" *ngIf="abc">
    <h1>Hiiiiiiiiiii Boss</h1>
</div>

<div class="div2"  *ngIf="xyz">
    <h1>Helloooooooooo Boss</h1>
</div>

<div>
    Fruit :<input type="text" name="fruit" #fruit>
    <input type="submit" value="Add Fruit" (click)="addfruit(fruit.value)">
    <ul *ngFor="let fruit of  fruits; let i = index">
        
        <li> {{i}}----{{fruit}}</li>
    </ul>
</div>
<hr>
<div>
    Number :<input type="text" name="num" #num>
    <input type="submit" value="Lang" (click)="lang(num.value)">
    <ul [ngSwitch]="switcsdemo">
        <li *ngSwitchCase="1">kannada</li>
        <li *ngSwitchCase="2">English</li>
        <li *ngSwitchCase="3">Marati</li>
        <li *ngSwitchCase="4">Telgu</li>
        <li *ngSwitchCase="5">Tamil</li>
        <li *ngSwitchCase="6">Maliyali</li>
        <li *ngSwitchDefault>Hindi</li>
    </ul>
</div>

<div>

    <ul>
        <li *ngFor="let person of people">
          {{ person.name }}--{{person.AGE}}
        </li>
       </ul>
</div> -->

<!-- <h3><a  routerLink="attrdemo"> Attrubute Directive Demo </a></h3>
<router-outlet></router-outlet> -->